build
coverage
dist
node_modules
package-lock.json

.docusaurus
.cache
**/*.mdx

# Made by npm run sync and npm run gen-api
api
plugins
static/openapi
src/data/*.json
src/data/plugin-icons.ts
develop/reference/manifest.md
develop/reference/capabilities.md
develop/reference/sdk-changelog.md
sidebars-plugins.js
